.row {
    margin-bottom: 30px;
}
div.reviews {
    span {
        display: inline-block;
        margin-bottom: 15px;
    }
    span.rating {
        width: 105px;
    }
    span.date {
        width: 165px;
    }
    span.name {
        width: 200px;
    }
}
