.row {
  margin-bottom: 30px;
}

div.reviews span {
  display: inline-block;
}

div.reviews .review {
  margin-bottom: 15px;
}

div.reviews span.rating {
  width: 105px;
}

div.reviews span.date {
  width: 165px;
}

div.reviews span.name {
  width: 200px;
}

