h1 {
  padding-bottom: 30px;
}

div.reviews div.review {
  padding-bottom: 15px;
}

div.reviews div.review span.rating {
  width: 105px;
}

div.reviews div.review span.date {
  width: 165px;
}

div.reviews div.review span.name {
  width: 200px;
}

